.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 40px;
}

@media screen and (max-width:980px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width:480px) {
    .header__logo {
        width: 104px;
        height: 24px;
        padding-bottom: 31px;
    }
}