.profile__avatar-button {
  height: 120px;
  padding: 0;
  margin-right: 30px;
  border-radius: 50%;
}

.profile__avatar-button:hover {
  background: url(../../../images/svg/edit-Vector.svg) no-repeat;
  background-position: center;
  background-size: 26px;
  cursor: pointer;
}

@media screen and (max-width:750px) {
  .profile__avatar-button {
      margin-right: 0px;
  }
}
