.popup__container_avatar {
  position: relative;
  width: 100%;
  max-width: 430px;
  min-height: 272px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}


@media screen and (max-width:480px) {
  .popup__container_avatar  {
      max-width: 282px;
  }
}